<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true" />
    <!-- tf_prefix in teoria non dovrebbe servirci visto che abbiamo un solo robot. Però il robot.launch per come è costruito nella directory mir_robot richiede questo prefix con un valore-->
    <arg name="tf_prefix" default="" doc="tf_prefix to be used by gazebo plugins and in the robot's urdf etc." />

    <include file="$(find my_world)/launch/start.launch">
        <arg name="gazebo_gui" value="$(arg gui)" />
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
    </include>
    <node name="localize_listener" pkg="robotic_vision" type="localize_listener.py" respawn="true" />
    <node name="insert_object" pkg="my_world" type="lego_spawner.py" />
    <node name="my_detect" pkg="robotic_vision" type="my_detect.py" respawn="true"/>
</launch>